*.cache
.godot/editor/filesystem_cache10
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache10
.godot/editor/script_editor_cache.cfg
.godot/uid_cache.bin
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache10
.godot/editor/script_editor_cache.cfg
.godot/editor/editor_script_doc_cache.res
.godot/editor/filesystem_cache10
.godot/editor/filesystem_update4
.godot/editor/player.tscn-folding-2c0527a489b2859ca7dc1a962dc9e82b.cfg
.godot/editor/script_editor_cache.cfg
.godot/uid_cache.bin
.godot/editor/editor_layout.cfg
.godot/editor/filesystem_cache10
.godot/editor/project_metadata.cfg
.godot/uid_cache.bin
/.godot/editor
